[default]
region = us-west-2
output = json

{{ if eq .machine "work" -}}
[profile spearssoftware]
sso_session = spearssoftware
sso_account_id = 218242847432
sso_role_name = AWSAdministratorAccess
region = us-west-2
output = json

[sso-session spearssoftware]
sso_start_url = https://spearssoftware.awsapps.com/start#
sso_region = us-west-2
sso_registration_scopes = sso:account:access
{{ end -}}

{{ if eq .machine "consulting" -}}
[sso-session prisonfellowship]
sso_start_url = https://prisonfellowship.awsapps.com/start
sso_region = us-east-2
sso_registration_scopes = sso:account:access
# profiles populated via: granted sso populate --prune ...
{{ end -}}
