# All Macs
cask "kitty"
brew "neovim"
brew "tmux"
brew "awscli"
cask "font-hack-nerd-font"
cask "iterm2"

# Home only
{{ if eq .machine "home" -}}
cask "cursor"
cask "signal"
brew "ansible"
brew "htop"
{{ end -}}

# Consulting only


# Work only — TBD after checking work machine
