#!/usr/bin/env zsh

fpath=({{ .chezmoi.homeDir }}/zsh_plugins $fpath)
{{ if eq .machine "work" -}}
fpath=($HOME/.docker/completions $fpath)
{{ end -}}

# +------------+
# | NAVIGATION |
# +------------+

setopt AUTO_CD              # Go to folder path without using cd.

setopt AUTO_PUSHD           # Push the old directory onto the stack on cd.
setopt PUSHD_IGNORE_DUPS    # Do not store duplicates in the stack.
setopt PUSHD_SILENT         # Do not print the directory stack after pushd or popd.

setopt CORRECT              # Spelling correction
setopt CDABLE_VARS          # Change directory to a path stored in a variable.
setopt EXTENDED_GLOB        # Use extended globbing syntax.

source ~/zsh_plugins/bd.zsh

# +---------+
# | HISTORY |
# +---------+

setopt EXTENDED_HISTORY          # Write the history file in the ':start:elapsed;command' format.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST    # Expire a duplicate event first when trimming history.
setopt HIST_IGNORE_DUPS          # Do not record an event that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS      # Delete an old recorded event if a new event is a duplicate.
setopt HIST_FIND_NO_DUPS         # Do not display a previously found event.
setopt HIST_IGNORE_SPACE         # Do not record an event starting with a space.
setopt HIST_SAVE_NO_DUPS         # Do not write a duplicate event to the history file.
setopt HIST_VERIFY               # Do not execute immediately upon history expansion.

# +------------+
# | COMPLETION |
# +------------+

autoload -Uz compinit; compinit
autoload bashcompinit && bashcompinit
_comp_options+=(globdots) # With hidden files
export CLICOLOR=1
bindkey '^[[Z' reverse-menu-complete
source ~/completion.zsh

# +---------+
# | SOURCES |
# +---------+

source ~/prompt.zsh
source ~/aliases.zsh
{{ if eq .machine "work" -}}
source ~/aws.zsh
{{ end -}}
source ~/secrets.zsh

# +------+
# | PATH |
# +------+

{{ if eq .machine "work" -}}
export PATH="$HOME/.zsh/bin:$PATH"
{{ end -}}
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - --no-rehash zsh)"
{{ if eq .machine "work" -}}
export PATH="${HOMEBREW_PREFIX}/opt/openssl/bin:$PATH"
{{ end -}}
{{ if eq .machine "home" -}}
export PATH="{{ .chezmoi.homeDir }}/.deno/bin:$PATH"
export PATH="/usr/local/opt/tcl-tk/bin:$PATH"
{{ end -}}
export PATH="/opt/homebrew/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
{{ if eq .machine "work" -}}
# Prefer Homebrew keg-only node@24 (CDKTF and other tools require Node 24.x, not 25)
export PATH="/opt/homebrew/opt/node@24/bin:$PATH"
{{ end -}}
