# All Macs
cask "kitty"
brew "neovim"
brew "tmux"
brew "awscli"
cask "font-hack-nerd-font"
cask "iterm2"

# Home only
{{ if eq .machine "home" -}}
cask "1password"
brew "1password-cli"
cask "cursor"
cask "signal"
brew "ansible"
brew "htop"
{{ end -}}

# Consulting only
{{ if eq .machine "consulting" -}}
cask "firefox"
{{ end -}}

# Work only — TBD after checking work machine
